@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:host {
  font-family: 'Poppins', sans-serif;
  display: block;
}

.text-primary {
  color: #6a1b9a !important;
}

.text-success {
  color: #166534 !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-size: 2.5rem !important;
}
